<a href="https://colab.research.google.com/github/sujiraa/BasicProg_DataViz65/blob/main/midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
unit = pd.read_csv('/content/drive/MyDrive/BPDV65/opendata_unittype.csv')
unit.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...

In [4]:
project = pd.read_csv('/content/drive/MyDrive/BPDV65/opendata_project.csv')
project.head()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...

In [5]:
rent = pd.read_csv('/content/drive/MyDrive/BPDV65/opendata_volume_listing_rent.csv')
rent.head()

,row_number,transction_year,transction_month,listing_province_name_th,listing_province_name_en,listing_district_name_th,listing_district_name_en,project_propertytype_name_th,project_propertytype_name_en,volume_of_rental,day
0,1324,2020,12,กรุงเทพมหานคร,BANGKOK,จตุจักร,CHATUCHAK,คอนโด,Condo,702,2022-08-31
1,136,2020,10,กรุงเทพมหานคร,BANGKOK,บางกอกน้อย,BANGKOK NOI,คอนโด,Condo,33,2022-08-31
2,310,2020,5,นนทบุรี,NONTHABURI,ปากเกร็ด,PAK KRET,คอนโด,Condo,22,2022-08-31
3,1570,2020,3,กรุงเทพมหานคร,BANGKOK,บางรัก,BANG RAK,คอนโด,Condo,104,2022-08-31
4,1063,2019,7,กรุงเทพมหานคร,BANGKOK,พระนคร,PHRA NAKHON,คอนโด,Condo,11,2022-08-31

In [6]:
eat = pd.read_csv('/content/drive/MyDrive/BPDV65/opendata_eating_score.csv')
eat.head()

,row_number,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,eating_daytime,eating_daytime_price,eating_daytime_quality,eating_daytime_variety,eating_nighttime,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety,source,day
0,2,4001,HUAI KHWANG,ห้วยขวาง,4000,HUAI KHWANG,ห้วยขวาง,3781,Bangkok,กรุงเทพมหานคร,66.0,72.0,49.0,92.0,75.0,68.0,54.0,94.0,baania,2022-08-31
1,397,2632,THEP KRASATTRI,เทพกระษัตรี,2630,THALANG,ถลาง,2616,Phuket,ภูเก็ต,35.0,37.0,30.0,45.0,38.0,28.0,28.0,51.0,baania,2022-08-31
2,76,3509,PAK NAM,ปากน้ำ,3499,MUEANG SAMUT PRAKAN,เมืองสมุทรปราการ,3498,Samut Prakan,สมุทรปราการ,70.0,84.0,55.0,79.0,65.0,72.0,57.0,67.0,baania,2022-08-31
3,368,4628,SAMET,เสม็ด,4617,MUEANG CHON BURI,เมืองชลบุรี,4616,Chon Buri,ชลบุรี,68.0,67.0,56.0,97.0,69.0,41.0,54.0,94.0,baania,2022-08-31
4,531,1166,TON PAO,ต้นเปา,1164,SAN KAMPHAENG,สันกำแพง,1005,Chiang Mai,เชียงใหม่,44.0,36.0,47.0,51.0,47.0,22.0,61.0,52.0,baania,2022-08-31

#Midterm Questions เก็บ 20 คะแนน
1. หาพื้นที่ (district_name)ที่มีจำนวนโครงการเยอะที่สุดและมีความต้องการเช่าเยอะที่สุด (5 คะแนน)
2. โครงการที่แพงที่สุดในพื้นที่ที่มีความต้องการเช่าสูงที่สุด (5 คะแนน)
3. ราคาเฉลี่ยของโครงการ ที่อยู่ในย่าน (subdistrict) ที่ อาหารการกินมีความหลากหลายที่สุดในช่วงกลางวัน (eating_daytime_variety) ของประเทศไทย (5 คะแนน)
4. พื้นที่ ที่มีความต้องการเช่ามากที่สุด คือพื้นที่ใด และพื้นที่นั้นมีชนิดของบ้าน แบบไหนมากที่สุด (7 คะแนน)
5. (เฉพาะ กรุงเทพมหานคร) เปรียบเทียบราคาโครงการที่แพงที่สุดในย่าน (subdistrict)ที่ราคาของอาหารการกินในช่วงกลางคืนที่ราคาสูงที่สุด (eating_nighttime_price) กับ ย่าน (subdistrict)ที่ราคาของอาหารการกินในช่วงกลางคืนที่ราคาต่ำที่สุด (eating_nighttime_price) (10 คะแนน)
6. แสดงย่านที่ อาหารการกินมีความหลากหลายที่สุดในช่วงกลางวัน (eating_daytime_variety) และ กลางคืน (eating_nighttime_variety) ของแต่ละจังหวัด (13 คะแนน)

จัดการmissing

In [7]:
unit.isnull().any()

row_number              False
unittype_id             False
project_id              False
name_th                  True
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
area_total_min_wa        True
area_usable_min          True
price_min                True
count_airconditioner     True
count_elevator           True
count_floor_internal     True
count_parking            True
count_room_bath          True
count_room_bed           True
count_room_dinning       True
count_room_guest         True
count_room_kitchen       True
count_room_living        True
count_room_maid          True
count_room_storage       True
count_room_utility       True
date_created            False
date_updated            False
source                  False
url_unittype             True
dtype: bool

In [8]:
project.isnull().any()

row_number                 True
project_id                False
name_en                   False
name_th                   False
propertytype_id           False
propertytype_name_en      False
propertytype_name_th      False
price_min                  True
developer_id              False
developer_name_en          True
developer_name_th          True
latitude                  False
longitude                  True
neighborhood_id            True
neighborhood_name_en       True
neighborhood_name_th       True
subdistrict_id             True
subdistrict_name_en        True
subdistrict_name_th        True
district_id                True
district_name_en           True
district_name_th           True
province_id                True
province_name_en           True
province_name_th           True
zipcode                    True
count_elevator             True
count_elevator_service     True
count_floor                True
count_parking              True
count_tower                True
count_unit                 True
count_unittype             True
facility_clubhouse         True
facility_fitness           True
facility_meeting           True
facility_park              True
facility_playground        True
facility_pool              True
facility_security          True
date_created               True
date_finish                True
date_updated               True
source                     True
url_project                True
dtype: bool

In [9]:
rent.isnull().any()

row_number                      False
transction_year                 False
transction_month                False
listing_province_name_th        False
listing_province_name_en        False
listing_district_name_th        False
listing_district_name_en        False
project_propertytype_name_th    False
project_propertytype_name_en    False
volume_of_rental                False
day                             False
dtype: bool

In [10]:
eat.isnull().any()

row_number                  False
subdistrict_id              False
subdistrict_name_en         False
subdistrict_name_th         False
district_id                 False
district_name_en            False
district_name_th            False
province_id                 False
province_name_en            False
province_name_th            False
eating_daytime              False
eating_daytime_price        False
eating_daytime_quality      False
eating_daytime_variety      False
eating_nighttime            False
eating_nighttime_price      False
eating_nighttime_quality    False
eating_nighttime_variety    False
source                      False
day                         False
dtype: bool

In [11]:
unit1=unit.dropna(subset=['price_min'])

In [12]:
project1=project.dropna(subset=['row_number','price_min','subdistrict_name_th','province_name_th'])

1.หาพื้นที่ (district_name)ที่มีจำนวนโครงการเยอะที่สุดและมีความต้องการเช่าเยอะที่สุด (5 คะแนน)

In [13]:
dataall = project.merge(rent, left_on='row_number', right_on='row_number')
dataall.head()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,transction_year,transction_month,listing_province_name_th,listing_province_name_en,listing_district_name_th,listing_district_name_en,project_propertytype_name_th,project_propertytype_name_en,volume_of_rental,day
0,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,NaN,...,2020,5,กรุงเทพมหานคร,BANGKOK,บางกอกใหญ่,BANGKOK YAI,คอนโด,Condo,11,2022-08-31
1,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,2019,10,กรุงเทพมหานคร,BANGKOK,ประเวศ,PRAWET,คอนโด,Condo,169,2022-08-31
2,270.0,5efc3cb4bc2af40019402f74,Golden Valley Assumption-Sriracha,โกลเด้น วัลเลย์ อัสสัมชัญ-ศรีราชา,1,Detached House,บ้าน,2590000.0,developer_10510,NaN,...,2021,2,กรุงเทพมหานคร,BANGKOK,สวนหลวง,PHATTHANAKAN,คอนโด,Condo,58,2022-08-31
3,1432.0,project_10000,Baan Boonraksa 7,บ้านบุญรักษา 7,1,Detached House,บ้าน,1190000.0,developer_7556,"BOONKERDKIAT CO., LTD.",...,2020,4,กรุงเทพมหานคร,BANGKOK,บางรัก,BANG RAK,คอนโด,Condo,1230,2022-08-31
4,679.0,project_12336,Baan Klangmeung Urbanion Ladphrao 71,บ้านกลางเมือง เออร์บาเนี่ยน ลาดพร้าว 71,6,Home office,โฮมออฟฟิศ,6500000.0,developer_7953,NaN,...,2020,5,กรุงเทพมหานคร,BANGKOK,ภาษีเจริญ,PHASI CHAROEN,คอนโด,Condo,42,2022-08-31

In [14]:
dataall2 =dataall.merge(eat, left_on='row_number', right_on='row_number')
dataall2.describe()

,row_number,latitude,longitude,subdistrict_id_x,district_id_x,province_id_x,zipcode,count_unit,count_unittype,facility_clubhouse,...,district_id_y,province_id_y,eating_daytime,eating_daytime_price,eating_daytime_quality,eating_daytime_variety,eating_nighttime,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety
count,554.000000,554.000000,554.000000,553.000000,554.000000,554.000000,554.000000,503.000000,402.000000,164.000000,...,554.000000,554.000000,554.000000,554.000000,554.000000,554.000000,554.000000,554.000000,554.000000,554.000000
mean,277.500000,13.673928,100.613183,4201.819168,4072.577617,4009.732852,29297.743682,196.075547,2.253731,0.780488,...,3456.799639,3393.846570,54.949458,63.167870,45.967509,60.725632,54.608303,55.258123,43.796029,61.386282
std,160.070297,2.446445,1.017573,2242.850658,1749.072333,1751.350598,25749.275447,302.923889,1.504871,0.415184,...,950.806754,963.250853,14.018238,19.182449,15.853729,22.390271,15.153584,20.479429,17.302748,21.826346
min,1.000000,6.912465,98.299281,1008.000000,1006.000000,1005.000000,10110.000000,2.000000,1.000000,0.000000,...,1006.000000,1005.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.000000,0.000000,0.000000
25%,139.250000,13.416863,100.406451,3424.000000,3418.000000,3372.000000,10510.000000,43.500000,1.000000,1.000000,...,3432.000000,3431.000000,45.250000,49.000000,35.250000,45.500000,44.000000,40.000000,31.000000,47.000000
50%,277.500000,13.764385,100.615980,3803.000000,3800.000000,3781.000000,20000.000000,97.000000,2.000000,1.000000,...,3647.000000,3599.000000,58.000000,67.000000,48.000000,63.500000,57.000000,59.000000,45.000000,64.000000
75%,415.750000,13.956280,100.890689,4527.000000,4511.000000,4510.000000,43500.000000,236.000000,3.000000,1.000000,...,3895.000000,3781.000000,66.000000,80.000000,57.000000,77.000000,66.000000,73.000000,56.000000,77.000000
max,554.000000,20.438575,104.860601,20624.000000,10697.000000,10508.000000,92000.000000,3280.000000,8.000000,1.000000,...,4717.000000,4616.000000,91.000000,95.000000,93.000000,100.000000,82.000000,100.000000,79.000000,100.000000

In [15]:
dataall2.groupby("district_name_th_y")[["name_th"]].max().sort_values(by=["name_th"], ascending=False)#_y = ชื่อพื้นที่ทั่วประเทศ ทีมีโครงการเยอะสุด
ans_1_1 = dataall2.groupby("district_name_th_y")[["name_th"]].max().reset_index().sort_values(by=["name_th"], ascending=False)
ans_1_1

    district_name_th_y                          name_th
73               วัฒนา  ไอลีฟ ไพร์ม วงแหวน-รังสิตคลอง 4
70             ลำลูกกา  ไอลีฟ ไพร์ม วงแหวน-รังสิตคลอง 4
102     เมืองเชียงใหม่  ไอลีฟ ไพร์ม วงแหวน-รังสิตคลอง 4
15            ตลิ่งชัน  ไอลีฟ พาร์ค วงแหวน-รังสิตคลอง 4
99          เมืองระยอง  ไอลีฟ พาร์ค วงแหวน-รังสิตคลอง 4
..                 ...                              ...
93          เกาะจันทร์           บ้านพฤกษา ราชพฤกษ์-345
4            คลองสามวา                     บ้านทวีทอง 1
30               บางนา                      บ้านกมลแก้ว
80           สันป่าตอง              บีทีเอส เรสซิเด้นซ์
27         บางขุนเทียน               บิสพอยท์ 4 ไทวัสดุ

[106 rows x 2 columns]

In [16]:
dataall2.groupby("district_name_th_y")[["volume_of_rental"]].max().sort_values(by=["volume_of_rental"], ascending=False) #_y = ชื่อพื้นที่ที่มีความต้องการเช่ามากสุด
ans_1_2 = dataall2.groupby("district_name_th_y")[["volume_of_rental"]].max().reset_index().sort_values(by=["volume_of_rental"], ascending=False)
ans_1_2

   district_name_th_y  volume_of_rental
97      เมืองปทุมธานี              3996
34            บางพลัด              3484
95        เมืองนครปฐม              3122
54              พญาไท              2782
74            ศรีราชา              2401
..                ...               ...
20            ธัญบุรี                31
7            คันนายาว                28
89            หนองแขม                27
68           ลาดพร้าว                21
10             ดอนตูม                11

[106 rows x 2 columns]

In [17]:
print(f'พื้นที่ที่มีโครงการเยอะที่สุด คือ {ans_1_1.iloc[0, 0]} โครงการที่เยอะที่สุดคือ {ans_1_1.iloc[0, 1]} ')
print(f'แต่พื้นที่ที่มีความต้องการเช่ามากที่สุด คือ {ans_1_2.iloc[0, 0]} จำนวนความต้องการเช่า = {ans_1_2.iloc[0, 1]}  ')

พื้นที่ที่มีโครงการเยอะที่สุด คือ วัฒนา โครงการที่เยอะที่สุดคือ ไอลีฟ ไพร์ม วงแหวน-รังสิตคลอง 4
แต่พื้นที่ที่มีความต้องการเช่ามากที่สุด คือ เมืองปทุมธานี จำนวนความต้องการเช่า = 3996

2. โครงการที่แพงที่สุดในพื้นที่ที่มีความต้องการเช่าสูงที่สุด (5 คะแนน)

In [21]:
dataall1 = unit1.merge(rent, left_on='row_number', right_on='row_number')
dataall1.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,transction_year,transction_month,listing_province_name_th,listing_province_name_en,listing_district_name_th,listing_district_name_en,project_propertytype_name_th,project_propertytype_name_en,volume_of_rental,day
0,1666,unittype_14501,project_5799,บ้านเดี่ยวสองชั้น Type A,1,Detached House,บ้าน,NaN,NaN,3300000.0,...,2019,6,กรุงเทพมหานคร,BANGKOK,ลาดพร้าว,LAT PHRAO,คอนโด,Condo,17,2022-08-31
1,639,unittype_17266,project_6901,บ้านเดี่ยวสองชั้น Type A,1,Detached House,บ้าน,NaN,NaN,3500000.0,...,2019,8,กรุงเทพมหานคร,BANGKOK,บางพลัด,BANG PHLAT,คอนโด,Condo,33,2022-08-31
2,1089,unittype_17962,project_7209,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,NaN,2900000.0,...,2019,12,กรุงเทพมหานคร,BANGKOK,ประเวศ,PRAWET,คอนโด,Condo,17,2022-08-31
3,295,unittype_9071,project_3108,Paradiz,1,Detached House,บ้าน,50.0,145.0,6790000.0,...,2020,6,กรุงเทพมหานคร,BANGKOK,จตุจักร,CHATUCHAK,คอนโด,Condo,175,2022-08-31
4,1598,unittype_12144,project_4533,บ้านเดี่ยวสองชั้น,1,Detached House,บ้าน,NaN,180.0,5000000.0,...,2019,1,กรุงเทพมหานคร,BANGKOK,วังทองหลาง,WANG THONGLANG,คอนโด,Condo,35,2022-08-31

In [22]:
dataall2 = eat.merge(dataall1, left_on='row_number', right_on='row_number')
dataall2.head()

,row_number,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,...,transction_year,transction_month,listing_province_name_th,listing_province_name_en,listing_district_name_th,listing_district_name_en,project_propertytype_name_th,project_propertytype_name_en,volume_of_rental,day_y
0,2,4001,HUAI KHWANG,ห้วยขวาง,4000,HUAI KHWANG,ห้วยขวาง,3781,Bangkok,กรุงเทพมหานคร,...,2021,12,นครปฐม,NAKHON PATHOM,พุทธมณฑล,PHUTTHAMONTHON,คอนโด,Condo,44,2022-08-31
1,397,2632,THEP KRASATTRI,เทพกระษัตรี,2630,THALANG,ถลาง,2616,Phuket,ภูเก็ต,...,2021,6,นนทบุรี,NONTHABURI,ปากเกร็ด,PAK KRET,คอนโด,Condo,250,2022-08-31
2,76,3509,PAK NAM,ปากน้ำ,3499,MUEANG SAMUT PRAKAN,เมืองสมุทรปราการ,3498,Samut Prakan,สมุทรปราการ,...,2019,4,กรุงเทพมหานคร,BANGKOK,คลองเตย,KHLONG TOEI,คอนโด,Condo,337,2022-08-31
3,368,4628,SAMET,เสม็ด,4617,MUEANG CHON BURI,เมืองชลบุรี,4616,Chon Buri,ชลบุรี,...,2019,3,กรุงเทพมหานคร,BANGKOK,บางกะปิ,BANG KAPI,คอนโด,Condo,43,2022-08-31
4,531,1166,TON PAO,ต้นเปา,1164,SAN KAMPHAENG,สันกำแพง,1005,Chiang Mai,เชียงใหม่,...,2021,4,นนทบุรี,NONTHABURI,บางบัวทอง,BANG BUA THONG,คอนโด,Condo,40,2022-08-31

In [23]:
dataall3 = dataall2.merge(project1, left_on='row_number', right_on='row_number')
dataall3.head()

,row_number,subdistrict_id_x,subdistrict_name_en_x,subdistrict_name_th_x,district_id_x,district_name_en_x,district_name_th_x,province_id_x,province_name_en_x,province_name_th_x,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created_y,date_finish,date_updated_y,source,url_project
0,2,4001,HUAI KHWANG,ห้วยขวาง,4000,HUAI KHWANG,ห้วยขวาง,3781,Bangkok,กรุงเทพมหานคร,...,NaN,1.0,NaN,NaN,1.0,2020-03-03 14:46:26,NaN,2020-12-04 10:48:56,baania,https://baania.com/th/project/บรีซ-แอท-อีสเทอร...
1,397,2632,THEP KRASATTRI,เทพกระษัตรี,2630,THALANG,ถลาง,2616,Phuket,ภูเก็ต,...,NaN,1.0,NaN,NaN,1.0,2020-07-09 14:30:40,NaN,2021-01-13 12:30:04,baania,https://baania.com/th/project/เดอะปาล์ม-วัลเล่...
2,76,3509,PAK NAM,ปากน้ำ,3499,MUEANG SAMUT PRAKAN,เมืองสมุทรปราการ,3498,Samut Prakan,สมุทรปราการ,...,NaN,NaN,NaN,1.0,1.0,2016-09-19 09:48:55,2019-01-01 07:00:00,2021-03-03 15:00:06,baania,https://baania.com/th/project/บ้านฟ้า-กรีนเนอร...
3,368,4628,SAMET,เสม็ด,4617,MUEANG CHON BURI,เมืองชลบุรี,4616,Chon Buri,ชลบุรี,...,0.0,0.0,0.0,0.0,0.0,2015-10-26 11:43:56,1970-01-02 07:00:00,2020-12-04 10:44:16,baania,https://baania.com/th/project/ดอยคำฮิลล์ไซด์-3...
4,531,1166,TON PAO,ต้นเปา,1164,SAN KAMPHAENG,สันกำแพง,1005,Chiang Mai,เชียงใหม่,...,NaN,NaN,NaN,NaN,1.0,2020-04-17 10:01:22,NaN,2020-12-04 10:32:23,baania,https://baania.com/th/project/เนคซัส-บาย-สุชาด...

In [24]:
dataall3[dataall3['volume_of_rental']==dataall3['volume_of_rental']][['district_name_th_x','volume_of_rental','price_min_x','name_th_y']].sort_values(by="volume_of_rental", ascending=False)
ans2 = dataall3[dataall3['volume_of_rental']==dataall3['volume_of_rental']][['district_name_th_x','volume_of_rental','price_min_x','name_th_y']].sort_values(by="volume_of_rental", ascending=False)
ans2

    district_name_th_x  volume_of_rental  price_min_x               name_th_y
412      เมืองปทุมธานี              3996    1800000.0        บ้านชานเมืองอุบล
136            บางพลัด              3484    8650000.0    เพชรธารา พานทอง-อมตะ
358        เมืองนครปฐม              3122    1950000.0             บ้านราชพงษา
151              พญาไท              2782     264000.0      ลัดดารมย์ รามคำแหง
229            ศรีราชา              2401    3500000.0           บ้านมิตรภาพ 2
..                 ...               ...          ...                     ...
426           กำแพงแสน                11    1690000.0             ทาวน์สแควร์
177        บางขุนเทียน                11    2900000.0      บิสพอยท์ 4 ไทวัสดุ
469           คลองหลวง                11    5700000.0               อานาทาวน์
251          นิคมพัฒนา                11    1137000.0  บ้านเทพประทานพรนิเวศน์
371             ดอนตูม                11    1400000.0    บ้านรุ่งเรืองนิเวศน์

[510 rows x 4 columns]

In [25]:
print(f'โครงการที่แพงที่สุดในพื้นที่ที่มีความต้องการเช่าสูงที่สุด  คือ {ans2.iloc[0,3]} มีราคาอยู่ที่ {ans2.iloc[0,2]} ความต้องการเช่า = {ans2.iloc[0,1]} ')

โครงการที่แพงที่สุดในพื้นที่ที่มีความต้องการเช่าสูงที่สุด  คือ บ้านชานเมืองอุบล มีราคาอยู่ที่ 1800000.0 ความต้องการเช่า = 3996

3. ราคาเฉลี่ยของโครงการ ที่อยู่ในย่าน (subdistrict) ที่ อาหารการกินมีความหลากหลายที่สุดในช่วงกลางวัน (eating_daytime_variety) ของประเทศไทย (5 คะแนน)

In [26]:
Dataall = eat.merge(project1, left_on='row_number', right_on='row_number')
Dataall.head()

,row_number,subdistrict_id_x,subdistrict_name_en_x,subdistrict_name_th_x,district_id_x,district_name_en_x,district_name_th_x,province_id_x,province_name_en_x,province_name_th_x,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source_y,url_project
0,2,4001,HUAI KHWANG,ห้วยขวาง,4000,HUAI KHWANG,ห้วยขวาง,3781,Bangkok,กรุงเทพมหานคร,...,NaN,1.0,NaN,NaN,1.0,2020-03-03 14:46:26,NaN,2020-12-04 10:48:56,baania,https://baania.com/th/project/บรีซ-แอท-อีสเทอร...
1,397,2632,THEP KRASATTRI,เทพกระษัตรี,2630,THALANG,ถลาง,2616,Phuket,ภูเก็ต,...,NaN,1.0,NaN,NaN,1.0,2020-07-09 14:30:40,NaN,2021-01-13 12:30:04,baania,https://baania.com/th/project/เดอะปาล์ม-วัลเล่...
2,76,3509,PAK NAM,ปากน้ำ,3499,MUEANG SAMUT PRAKAN,เมืองสมุทรปราการ,3498,Samut Prakan,สมุทรปราการ,...,NaN,NaN,NaN,1.0,1.0,2016-09-19 09:48:55,2019-01-01 07:00:00,2021-03-03 15:00:06,baania,https://baania.com/th/project/บ้านฟ้า-กรีนเนอร...
3,368,4628,SAMET,เสม็ด,4617,MUEANG CHON BURI,เมืองชลบุรี,4616,Chon Buri,ชลบุรี,...,0.0,0.0,0.0,0.0,0.0,2015-10-26 11:43:56,1970-01-02 07:00:00,2020-12-04 10:44:16,baania,https://baania.com/th/project/ดอยคำฮิลล์ไซด์-3...
4,531,1166,TON PAO,ต้นเปา,1164,SAN KAMPHAENG,สันกำแพง,1005,Chiang Mai,เชียงใหม่,...,NaN,NaN,NaN,NaN,1.0,2020-04-17 10:01:22,NaN,2020-12-04 10:32:23,baania,https://baania.com/th/project/เนคซัส-บาย-สุชาด...

In [27]:
Dataall2 = Dataall.merge(unit1, left_on='row_number', right_on='row_number')
Dataall2.head()

,row_number,subdistrict_id_x,subdistrict_name_en_x,subdistrict_name_th_x,district_id_x,district_name_en_x,district_name_th_x,province_id_x,province_name_en_x,province_name_th_x,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created_y,date_updated_y,source,url_unittype
0,2,4001,HUAI KHWANG,ห้วยขวาง,4000,HUAI KHWANG,ห้วยขวาง,3781,Bangkok,กรุงเทพมหานคร,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-17 15:00:11,2022-05-17 14:35:21,baania,https://baania.com/th/project/ลุมพินี-ซีเล็คเต...
1,397,2632,THEP KRASATTRI,เทพกระษัตรี,2630,THALANG,ถลาง,2616,Phuket,ภูเก็ต,...,NaN,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:21:32,2020-10-14 01:05:17,baania,https://baania.com/th/project/ลุมพินีสวีท-พระร...
2,76,3509,PAK NAM,ปากน้ำ,3499,MUEANG SAMUT PRAKAN,เมืองสมุทรปราการ,3498,Samut Prakan,สมุทรปราการ,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:20,2020-10-14 00:36:44,baania,https://baania.com/th/project/อาคารพาณิชย์-บ้า...
3,368,4628,SAMET,เสม็ด,4617,MUEANG CHON BURI,เมืองชลบุรี,4616,Chon Buri,ชลบุรี,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:30:20,2021-02-09 09:59:35,baania,https://baania.com/th/project/ศุภาลัย-เวอเรนด้...
4,531,1166,TON PAO,ต้นเปา,1164,SAN KAMPHAENG,สันกำแพง,1005,Chiang Mai,เชียงใหม่,...,1.0,1.0,1.0,NaN,NaN,NaN,2020-12-04 10:37:04,2020-10-14 00:41:12,baania,https://baania.com/th/project/บ้านตวันนาวิลล์-...

In [28]:
x = Dataall2[['subdistrict_name_th_x','eating_daytime_variety']].sort_values('eating_daytime_variety',ascending=0)
x

    subdistrict_name_th_x  eating_daytime_variety
75              ท่าประดู่                   100.0
80                ศรีภูมิ                   100.0
399               ปทุมวัน                   100.0
192              พระสิงห์                   100.0
63                ลุมพินี                    99.0
..                    ...                     ...
157                บางพูด                     3.0
112               ชัยมงคล                     2.0
254          สามควายเผือก                     2.0
417               บ้านยาง                     0.0
308            ราษฎร์นิยม                     0.0

[510 rows x 2 columns]

In [29]:
p1 = project1[project1['subdistrict_name_th']=='ท่าประดู่']
p1

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
7461,18808.0,project_12951,Commercial Building Yak Saun Sri Mueang Rayong,อาคารพาณิชย์แยกสวนศรีเมืองระยอง,4,Commercial,อาคารพาณิชย์,2800000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2018-02-01 10:53:30,2017-12-31 07:00:00,2020-12-24 18:00:06,baania,https://baania.com/th/project/อาคารพาณิชย์แยกส...
14410,15098.0,project_11556,Sri Muang Park Ville Condominium,ศรีเมือง พาร์ควิว คอนโดมิเนียม,2,Condo,คอนโด,650000.0,developer_10510,NaN,...,NaN,NaN,1.0,1.0,1.0,2017-11-09 11:24:16,1970-01-02 07:00:00,2020-12-04 10:43:41,baania,https://baania.com/th/project/ศรีเมือง-พาร์ควิ...
22305,16691.0,project_11711,The Ultimate Serviced Condo,ดิอัลทิเมท เซอร์วิส คอนโด,2,Condo,คอนโด,1750000.0,developer_6406,"Ultimate Real Estate Co.,Ltd.",...,1.0,NaN,NaN,NaN,1.0,2017-11-13 16:40:48,1970-01-02 07:00:00,2020-12-04 10:41:36,baania,https://baania.com/th/project/ดิอัลทิเมท-เซอร์...
22819,16474.0,project_11595,New Sky Residence Condominium Sukhumvit Rayong,นิว สกาย เรสซิเด้นซ์ คอนโดมิเนียม สุขุมวิท ระยอง,2,Condo,คอนโด,1200000.0,5ee0ae10dda791001299b39a,"Thungsubmongkol Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,2017-11-10 09:19:55,2020-01-01 07:00:00,2022-01-05 11:30:08,baania,https://baania.com/th/project/นิว-สกาย-เรสซิเด...

In [30]:
p2 = project1[project1['subdistrict_name_th']=='ศรีภูมิ']
p2

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
1775,22069.0,project_298,Baan Aeungluang Siphum,บ้านเอื้องหลวง ศรีภูมิ,1,Detached House,บ้าน,2200000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2015-10-13 09:59:57,1970-01-02 07:00:00,2020-12-04 10:47:46,baania,https://baania.com/th/project/บ้านเอื้องหลวง-ศ...
5482,5946.0,project_82,The Unique Condo (Koo Muang),เดอะ ยูนีค คอนโด (คูเมือง),2,Condo,คอนโด,2790000.0,developer_81,"Tareena Property Co.,Ltd.",...,NaN,NaN,1.0,1.0,1.0,2015-09-21 14:47:37,2014-12-31 07:00:00,2020-12-04 10:49:32,baania,https://baania.com/th/project/เดอะ-ยูนีค-คอนโด...
10909,11871.0,project_326,Chiang Mai C View Tower,เชียงใหม่ซีวิวทาวเวอร์,2,Condo,คอนโด,680000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2015-10-13 15:26:34,1970-01-02 07:00:00,2020-12-04 10:39:51,baania,https://baania.com/th/project/เชียงใหม่ซีวิวทา...
21555,21764.0,5fc85f62ee0d7f001240a5f2,Treasure Prime,เทรเซอร์ ไพร์ม,2,Condo,คอนโด,1900000.0,developer_1036,"Home Development Group Co., Ltd.",...,NaN,1.0,NaN,1.0,1.0,2020-12-03 10:45:38,NaN,2021-03-15 11:30:04,baania,https://baania.com/th/project/เทรเซอร์-ไพร์ม-5...

In [31]:
p3 = project1[project1['subdistrict_name_th']=='พระสิงห์']
p3

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
20591,22554.0,project_562,Baan Chiang Mai Trade Center,บ้านเชียงใหม่เทรดเซ็นเตอร์,3,Townhome,ทาวน์โฮม,3600000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2015-10-21 09:37:37,1970-01-02 07:00:00,2020-12-04 10:36:44,baania,https://baania.com/th/project/บ้านเชียงใหม่เทร...

In [32]:
p4 = project1[project1['subdistrict_name_th']=='ปทุมวัน']
p4

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
5208,13624.0,614d4e410eb0a10013e26138,Rangsit City,รังสิตซิตี้,2,Condo,คอนโด,189000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2021-09-24 11:04:17,2010-01-01 07:00:00,2021-09-24 11:30:03,baania,https://baania.com/th/project/รังสิตซิตี้-614d...
12993,6551.0,project_4047,Chamchuri Square Residence,จามจุรี สแควร์ เรสซิเด้นส์,2,Condo,คอนโด,2000000.0,developer_2560,NaN,...,1.0,0.0,0.0,1.0,1.0,2017-02-23 11:37:35,2008-12-31 07:00:00,2020-12-04 10:40:07,baania,https://baania.com/th/project/จามจุรี-สแควร์-เ...

In [33]:
w = pd.concat([p1,p2,p3,p4])
w

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
7461,18808.0,project_12951,Commercial Building Yak Saun Sri Mueang Rayong,อาคารพาณิชย์แยกสวนศรีเมืองระยอง,4,Commercial,อาคารพาณิชย์,2800000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2018-02-01 10:53:30,2017-12-31 07:00:00,2020-12-24 18:00:06,baania,https://baania.com/th/project/อาคารพาณิชย์แยกส...
14410,15098.0,project_11556,Sri Muang Park Ville Condominium,ศรีเมือง พาร์ควิว คอนโดมิเนียม,2,Condo,คอนโด,650000.0,developer_10510,NaN,...,NaN,NaN,1.0,1.0,1.0,2017-11-09 11:24:16,1970-01-02 07:00:00,2020-12-04 10:43:41,baania,https://baania.com/th/project/ศรีเมือง-พาร์ควิ...
22305,16691.0,project_11711,The Ultimate Serviced Condo,ดิอัลทิเมท เซอร์วิส คอนโด,2,Condo,คอนโด,1750000.0,developer_6406,"Ultimate Real Estate Co.,Ltd.",...,1.0,NaN,NaN,NaN,1.0,2017-11-13 16:40:48,1970-01-02 07:00:00,2020-12-04 10:41:36,baania,https://baania.com/th/project/ดิอัลทิเมท-เซอร์...
22819,16474.0,project_11595,New Sky Residence Condominium Sukhumvit Rayong,นิว สกาย เรสซิเด้นซ์ คอนโดมิเนียม สุขุมวิท ระยอง,2,Condo,คอนโด,1200000.0,5ee0ae10dda791001299b39a,"Thungsubmongkol Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,2017-11-10 09:19:55,2020-01-01 07:00:00,2022-01-05 11:30:08,baania,https://baania.com/th/project/นิว-สกาย-เรสซิเด...
1775,22069.0,project_298,Baan Aeungluang Siphum,บ้านเอื้องหลวง ศรีภูมิ,1,Detached House,บ้าน,2200000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2015-10-13 09:59:57,1970-01-02 07:00:00,2020-12-04 10:47:46,baania,https://baania.com/th/project/บ้านเอื้องหลวง-ศ...
5482,5946.0,project_82,The Unique Condo (Koo Muang),เดอะ ยูนีค คอนโด (คูเมือง),2,Condo,คอนโด,2790000.0,developer_81,"Tareena Property Co.,Ltd.",...,NaN,NaN,1.0,1.0,1.0,2015-09-21 14:47:37,2014-12-31 07:00:00,2020-12-04 10:49:32,baania,https://baania.com/th/project/เดอะ-ยูนีค-คอนโด...
10909,11871.0,project_326,Chiang Mai C View Tower,เชียงใหม่ซีวิวทาวเวอร์,2,Condo,คอนโด,680000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2015-10-13 15:26:34,1970-01-02 07:00:00,2020-12-04 10:39:51,baania,https://baania.com/th/project/เชียงใหม่ซีวิวทา...
21555,21764.0,5fc85f62ee0d7f001240a5f2,Treasure Prime,เทรเซอร์ ไพร์ม,2,Condo,คอนโด,1900000.0,developer_1036,"Home Development Group Co., Ltd.",...,NaN,1.0,NaN,1.0,1.0,2020-12-03 10:45:38,NaN,2021-03-15 11:30:04,baania,https://baania.com/th/project/เทรเซอร์-ไพร์ม-5...
20591,22554.0,project_562,Baan Chiang Mai Trade Center,บ้านเชียงใหม่เทรดเซ็นเตอร์,3,Townhome,ทาวน์โฮม,3600000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2015-10-21 09:37:37,1970-01-02 07:00:00,2020-12-04 10:36:44,baania,https://baania.com/th/project/บ้านเชียงใหม่เทร...
5208,13624.0,614d4e410eb0a10013e26138,Rangsit City,รังสิตซิตี้,2,Condo,คอนโด,189000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2021-09-24 11:04:17,2010-01-01 07:00:00,2021-09-24 11:30:03,baania,https://baania.com/th/project/รังสิตซิตี้-614d...
12993,6551.0,project_4047,Chamchuri Square Residence,จามจุรี สแควร์ เรสซิเด้นส์,2,Condo,คอนโด,2000000.0,developer_2560,NaN,...,1.0,0.0,0.0,1.0,1.0,2017-02-23 11:37:35,2008-12-31 07:00:00,2020-12-04 10:40:07,baania,https://baania.com/th/project/จามจุรี-สแควร์-เ...

In [34]:
w.groupby("name_th")[["price_min"]].mean()
ans_3 = w.groupby("name_th")[["price_min"]].mean()
ans_3

                                                  price_min
name_th
จามจุรี สแควร์ เรสซิเด้นส์                        2000000.0
ดิอัลทิเมท เซอร์วิส คอนโด                         1750000.0
นิว สกาย เรสซิเด้นซ์ คอนโดมิเนียม สุขุมวิท ระยอง  1200000.0
บ้านเชียงใหม่เทรดเซ็นเตอร์                        3600000.0
บ้านเอื้องหลวง ศรีภูมิ                            2200000.0
รังสิตซิตี้                                        189000.0
ศรีเมือง พาร์ควิว คอนโดมิเนียม                     650000.0
อาคารพาณิชย์แยกสวนศรีเมืองระยอง                   2800000.0
เชียงใหม่ซีวิวทาวเวอร์                             680000.0
เดอะ ยูนีค คอนโด (คูเมือง)                        2790000.0
เทรเซอร์ ไพร์ม                                    1900000.0

In [35]:
ans_3['price_min'].mean()

1796272.7272727273

4. พื้นที่ ที่มีความต้องการเช่ามากที่สุด คือพื้นที่ใด และพื้นที่นั้นมีชนิดของบ้าน แบบไหนมากที่สุด (7 คะแนน)

In [36]:
Rent1 = rent[['row_number','listing_district_name_th','volume_of_rental']] #เลือกคอลัม
Rent1

      row_number listing_district_name_th  volume_of_rental
0           1324                  จตุจักร               702
1            136               บางกอกน้อย                33
2            310                 ปากเกร็ด                22
3           1570                   บางรัก               104
4           1063                   พระนคร                11
...          ...                      ...               ...
1873        1585                บางคอแหลม                23
1874         351                  ราชเทวี               103
1875         694             เมืองนนทบุรี               100
1876         633                  หลักสี่                14
1877         899                  ลำลูกกา                23

[1878 rows x 3 columns]

In [37]:
project1 = project[['row_number','propertytype_name_th']]
project1

       row_number propertytype_name_th
0          7880.0                 บ้าน
1         16689.0                คอนโด
2           290.0             ทาวน์โฮม
3         20719.0                 บ้าน
4           199.0             ทาวน์โฮม
...           ...                  ...
23429     12883.0             ทาวน์โฮม
23430     21181.0             ทาวน์โฮม
23431     13993.0         อาคารพาณิชย์
23432      5889.0                 บ้าน
23433      5529.0                 บ้าน

[23434 rows x 2 columns]

In [38]:
D_all= Rent1.merge(project1, left_on='row_number', right_on='row_number')
D_all

,row_number,listing_district_name_th,volume_of_rental,propertytype_name_th
0,1324,จตุจักร,702,บ้าน
1,136,บางกอกน้อย,33,ทาวน์โฮม
2,310,ปากเกร็ด,22,ทาวน์โฮม
3,1570,บางรัก,104,บ้าน
4,1063,พระนคร,11,คอนโด
...,...,...,...,...
1873,1585,บางคอแหลม,23,ทาวน์โฮม
1874,351,ราชเทวี,103,บ้านแฝด
1875,694,เมืองนนทบุรี,100,คอนโด
1876,633,หลักสี่,14,บ้าน
1877,899,ลำลูกกา,23,คอนโด

In [39]:
ans_D_all = D_all.groupby('listing_district_name_th')[["volume_of_rental"]].max()
ans4=ans_D_all.sort_values('volume_of_rental',ascending=0).head(10) #พื้นที่ ที่มีความต้องการเช่ามากที่สุด คือพื้นที่ใด และพื้นที่นั้นมีชนิดของบ้าน แบบไหนมากที่สุด
ans4

                          volume_of_rental
listing_district_name_th
วัฒนา                                 3996
คลองเตย                               3340
ห้วยขวาง                              3270
เมืองสมุทรปราการ                      2177
บางรัก                                2167
เมืองนนทบุรี                          1541
ปทุมวัน                               1426
ราชเทวี                               1262
จตุจักร                               1250
สาทร                                  1061

In [40]:
A = D_all[['listing_district_name_th','propertytype_name_th']]
A

     listing_district_name_th propertytype_name_th
0                     จตุจักร                 บ้าน
1                  บางกอกน้อย             ทาวน์โฮม
2                    ปากเกร็ด             ทาวน์โฮม
3                      บางรัก                 บ้าน
4                      พระนคร                คอนโด
...                       ...                  ...
1873                บางคอแหลม             ทาวน์โฮม
1874                  ราชเทวี              บ้านแฝด
1875             เมืองนนทบุรี                คอนโด
1876                  หลักสี่                 บ้าน
1877                  ลำลูกกา                คอนโด

[1878 rows x 2 columns]

In [41]:
B = A[A['listing_district_name_th']=='วัฒนา']
B

     listing_district_name_th propertytype_name_th
15                      วัฒนา                 บ้าน
68                      วัฒนา             ทาวน์โฮม
75                      วัฒนา                คอนโด
94                      วัฒนา                คอนโด
188                     วัฒนา                คอนโด
269                     วัฒนา             ทาวน์โฮม
376                     วัฒนา             ทาวน์โฮม
383                     วัฒนา                 บ้าน
414                     วัฒนา                 บ้าน
501                     วัฒนา                 บ้าน
513                     วัฒนา                คอนโด
593                     วัฒนา              บ้านแฝด
616                     วัฒนา                คอนโด
625                     วัฒนา                 บ้าน
634                     วัฒนา             ทาวน์โฮม
684                     วัฒนา             ทาวน์โฮม
700                     วัฒนา             ทาวน์โฮม
741                     วัฒนา                 บ้าน
750                     วัฒนา                 บ้าน
766                     วัฒนา                คอนโด
769                     วัฒนา                คอนโด
787                     วัฒนา                คอนโด
802                     วัฒนา             ทาวน์โฮม
818                     วัฒนา             ทาวน์โฮม
821                     วัฒนา             ทาวน์โฮม
838                     วัฒนา                คอนโด
858                     วัฒนา                 บ้าน
980                     วัฒนา            โฮมออฟฟิศ
1035                    วัฒนา                 บ้าน
1050                    วัฒนา                 บ้าน
1114                    วัฒนา                คอนโด
1134                    วัฒนา                 บ้าน
1181                    วัฒนา             ทาวน์โฮม
1209                    วัฒนา                คอนโด
1236                    วัฒนา             ทาวน์โฮม
1262                    วัฒนา                คอนโด
1273                    วัฒนา                 บ้าน
1292                    วัฒนา         อาคารพาณิชย์
1337                    วัฒนา                คอนโด
1425                    วัฒนา                คอนโด
1486                    วัฒนา                 บ้าน
1578                    วัฒนา                 บ้าน
1595                    วัฒนา         อาคารพาณิชย์
1626                    วัฒนา                 บ้าน
1645                    วัฒนา                 บ้าน
1797                    วัฒนา             ทาวน์โฮม
1837                    วัฒนา                 บ้าน

In [42]:
C = B.groupby('propertytype_name_th').count()
C

                      listing_district_name_th
propertytype_name_th
คอนโด                                       14
ทาวน์โฮม                                    12
บ้าน                                        17
บ้านแฝด                                      1
อาคารพาณิชย์                                 2
โฮมออฟฟิศ                                    1

In [43]:
print(f'พื้นที่ ที่มีความต้องการเช่ามากที่สุด คือ {ans4.iloc[0,0]} และพื้นที่นั้นมีชนิดของบ้าน แบบไหนมากที่สุด คือ {C.iloc[2,0]} ')

พื้นที่ ที่มีความต้องการเช่ามากที่สุด คือ 3996 และพื้นที่นั้นมีชนิดของบ้าน แบบไหนมากที่สุด คือ 17

5. (เฉพาะ กรุงเทพมหานคร) เปรียบเทียบราคาโครงการที่แพงที่สุดในย่าน (subdistrict)ที่ราคาของอาหารการกินในช่วงกลางคืนที่ราคาสูงที่สุด (eating_nighttime_price) กับ ย่าน (subdistrict)ที่ราคาของอาหารการกินในช่วงกลางคืนที่ราคาต่ำที่สุด (eating_nighttime_price) (10 คะแนน)

In [44]:
project_2 = project[['row_number','name_th','price_min']]
eat_2 = eat[['row_number','subdistrict_name_th','province_name_th','eating_nighttime_price']]

In [45]:
Dataall5= project_2.merge(eat_2, left_on='row_number', right_on='row_number')
Dataall5

,row_number,name_th,price_min,subdistrict_name_th,province_name_th,eating_nighttime_price
0,290.0,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,0.0,แม่เหียะ,เชียงใหม่,49.0
1,199.0,บ้านพฤกษา ราชพฤกษ์-345,1930000.0,บางจาก,สมุทรปราการ,62.0
2,270.0,โกลเด้น วัลเลย์ อัสสัมชัญ-ศรีราชา,2590000.0,ดุสิต,กรุงเทพมหานคร,72.0
3,73.0,โอฮาน่า คอนโด,1400000.0,สำโรงใต้,สมุทรปราการ,69.0
4,258.0,ชโนทัย สุคนธสวัสดิ์ 8,6990000.0,ลำพยา,นครปฐม,60.0
...,...,...,...,...,...,...
549,361.0,บ้านรัชกร,1700000.0,ท่าจีน,สมุทรสาคร,48.0
550,192.0,เดอะ พลูริส เขาใหญ่,3400000.0,ลานตากฟ้า,นครปฐม,61.0
551,234.0,บ้านเทพประทานพรนิเวศน์,0.0,นิคมพัฒนา,ระยอง,31.0
552,134.0,รุ่งอรุณ วิลล์ วัดส้มเกลี้ยง,4200000.0,คลองต้นไทร,กรุงเทพมหานคร,68.0
553,262.0,ลุมพินี เพลส แจ้งวัฒนะ - ปากเกร็ด สเตชั่น,2000000.0,กระทุ่มราย,กรุงเทพมหานคร,86.0

In [46]:
all5_BKK =Dataall5[Dataall5['province_name_th']=='กรุงเทพมหานคร']
all5_BKK

,row_number,name_th,price_min,subdistrict_name_th,province_name_th,eating_nighttime_price
2,270.0,โกลเด้น วัลเลย์ อัสสัมชัญ-ศรีราชา,2590000.0,ดุสิต,กรุงเทพมหานคร,72.0
10,422.0,นิรันดร์ แกรนด์วิว,850000.0,บางแค,กรุงเทพมหานคร,81.0
17,124.0,บ้านร็อคการ์เด้น แอร์พอร์ต สุวรรณภูมิ เฟส 1,2100000.0,หนองจอก,กรุงเทพมหานคร,84.0
19,407.0,บีอาร์ @ แอโร สุวรรณภูมิ,2500000.0,บางปะกอก,กรุงเทพมหานคร,74.0
23,111.0,บ้านเอื้ออาทร สุวรรณภูมิ 1 (วัดศรีวารีน้อย),150000.0,ทับยาว,กรุงเทพมหานคร,79.0
...,...,...,...,...,...,...
540,523.0,ดิ โอโซน สวนเสือ-ศรีราชา,2450000.0,บางนาเหนือ,กรุงเทพมหานคร,77.0
544,214.0,บ้านกลางเมือง พระราม 2,8019000.0,บางเชือกหนัง,กรุงเทพมหานคร,76.0
545,540.0,เดอะโฮม อ้อมค่าย,1890000.0,หนองค้างพลู,กรุงเทพมหานคร,85.0
552,134.0,รุ่งอรุณ วิลล์ วัดส้มเกลี้ยง,4200000.0,คลองต้นไทร,กรุงเทพมหานคร,68.0
553,262.0,ลุมพินี เพลส แจ้งวัฒนะ - ปากเกร็ด สเตชั่น,2000000.0,กระทุ่มราย,กรุงเทพมหานคร,86.0

In [47]:
BKK = all5_BKK.groupby('subdistrict_name_th')[['eating_nighttime_price','name_th','price_min','subdistrict_name_th']].max()
BKK.sort_values('eating_nighttime_price',ascending=0)
#ย่านที่ราคาของอาหารการกินในช่วงกลางคืนที่ราคาสูงที่สุด คือ ลำต้อยติ่ง เเละโครงการที่เเพงที่สุดในย่านนั้นคือ วิลล่า สราสินี รีสอร์ท แอท โฮม

,eating_nighttime_price,name_th,price_min,subdistrict_name_th
subdistrict_name_th,,,,
ลำต้อยติ่ง,100.0,วิลล่า สราสินี รีสอร์ท แอท โฮม,5890000.0,ลำต้อยติ่ง
ทุ่งครุ,87.0,ทิพาคาร 1,427000.0,ทุ่งครุ
กระทุ่มราย,86.0,ลุมพินี เพลส แจ้งวัฒนะ - ปากเกร็ด สเตชั่น,2000000.0,กระทุ่มราย
หนองแขม,85.0,บ้านกลางสวน บางละมุง,1700000.0,หนองแขม
หนองค้างพลู,85.0,เดอะโฮม อ้อมค่าย,1890000.0,หนองค้างพลู
...,...,...,...,...
ทุ่งมหาเมฆ,54.0,เฟื่องฟ้า คอนโดเทล,890000.0,ทุ่งมหาเมฆ
คลองเตย,54.0,เดอะ ซีซั่น วัลเล่ย์,1950000.0,คลองเตย
บางรัก,52.0,เอ็กซ์เท็น คอนโดมิเนียม ราชมงคล,1200000.0,บางรัก
คลองตัน,51.0,บ้านพฤกษา 62 (เทพารักษ์-กิ่งแก้ว),899000.0,คลองตัน
ลุมพินี,46.0,บ้านกลางเมือง สวิสทาวน์,4500000.0,ลุมพินี

In [54]:
BKK1 = all5_BKK.groupby('subdistrict_name_th')[['eating_nighttime_price','name_th','price_min','subdistrict_name_th']].max()
BKK1.sort_values('eating_nighttime_price',ascending=1)
#ย่านที่ราคาของอาหารการกินในช่วงกลางคืนที่ราคาต่ำที่สุด คือ ลุมพินี เเละโครงการที่เเพงที่สุดในย่านนั้นคือ บ้านกลางเมือง สวิสทาวน์

,eating_nighttime_price,name_th,price_min,subdistrict_name_th
subdistrict_name_th,,,,
ลุมพินี,46.0,บ้านกลางเมือง สวิสทาวน์,4500000.0,ลุมพินี
คลองตัน,51.0,บ้านพฤกษา 62 (เทพารักษ์-กิ่งแก้ว),899000.0,คลองตัน
บางรัก,52.0,เอ็กซ์เท็น คอนโดมิเนียม ราชมงคล,1200000.0,บางรัก
คลองเตย,54.0,เดอะ ซีซั่น วัลเล่ย์,1950000.0,คลองเตย
ทุ่งมหาเมฆ,54.0,เฟื่องฟ้า คอนโดเทล,890000.0,ทุ่งมหาเมฆ
...,...,...,...,...
หนองค้างพลู,85.0,เดอะโฮม อ้อมค่าย,1890000.0,หนองค้างพลู
หนองแขม,85.0,บ้านกลางสวน บางละมุง,1700000.0,หนองแขม
กระทุ่มราย,86.0,ลุมพินี เพลส แจ้งวัฒนะ - ปากเกร็ด สเตชั่น,2000000.0,กระทุ่มราย
ทุ่งครุ,87.0,ทิพาคาร 1,427000.0,ทุ่งครุ
ลำต้อยติ่ง,100.0,วิลล่า สราสินี รีสอร์ท แอท โฮม,5890000.0,ลำต้อยติ่ง

In [55]:
print(f'ย่านที่ราคาของอาหารการกินในช่วงกลางคืนที่ราคาสูงที่สุด คือ ลำต้อยติ่ง เเละโครงการที่เเพงที่สุดในย่านนั้นคือ วิลล่า สราสินี รีสอร์ท แอท โฮม มีราคาอยู่ที่ {BKK.iloc[0,2]} บาท')
print(f'ย่านที่ราคาของอาหารการกินในช่วงกลางคืนที่ราคาต่ำที่สุด คือ ลุมพินี เเละโครงการที่เเพงที่สุดในย่านนั้นคือ บ้านกลางเมือง สวิสทาวน์ มีราคาอยู่ที่ {BKK1.iloc[0,2]} บาท')

ย่านที่ราคาของอาหารการกินในช่วงกลางคืนที่ราคาสูงที่สุด คือ ลำต้อยติ่ง เเละโครงการที่เเพงที่สุดในย่านนั้นคือ วิลล่า สราสินี รีสอร์ท แอท โฮม มีราคาอยู่ที่ 2000000.0 บาท
ย่านที่ราคาของอาหารการกินในช่วงกลางคืนที่ราคาต่ำที่สุด คือ ลุมพินี เเละโครงการที่เเพงที่สุดในย่านนั้นคือ บ้านกลางเมือง สวิสทาวน์ มีราคาอยู่ที่ 2000000.0 บาท

6. แสดงย่านที่ อาหารการกินมีความหลากหลายที่สุดในช่วงกลางวัน (eating_daytime_variety) และ กลางคืน (eating_nighttime_variety) ของแต่ละจังหวัด (13 คะแนน)

In [49]:
Eat_province = eat[['province_name_th','subdistrict_name_th','eating_daytime_variety','eating_nighttime_variety']]
Eat_province

,province_name_th,subdistrict_name_th,eating_daytime_variety,eating_nighttime_variety
0,กรุงเทพมหานคร,ห้วยขวาง,92.0,94.0
1,ภูเก็ต,เทพกระษัตรี,45.0,51.0
2,สมุทรปราการ,ปากน้ำ,79.0,67.0
3,ชลบุรี,เสม็ด,97.0,94.0
4,เชียงใหม่,ต้นเปา,51.0,52.0
...,...,...,...,...
549,นครปฐม,ท่าตำหนัก,76.0,61.0
550,ระยอง,ชากบก,27.0,17.0
551,เชียงใหม่,แม่เหียะ,72.0,70.0
552,เชียงใหม่,หนองป่าครั่ง,91.0,89.0
553,เชียงใหม่,แช่ช้าง,26.0,19.0

In [50]:
Eat_day = Eat_province.groupby('province_name_th')[['eating_daytime_variety','subdistrict_name_th']].max()
Eat_day.sort_values('eating_daytime_variety',ascending=0) #กลางวัน

                  eating_daytime_variety subdistrict_name_th
province_name_th
กรุงเทพมหานคร                      100.0              โคกแฝด
ระยอง                              100.0           แม่น้ำคู้
เชียงใหม่                          100.0             ไชยสถาน
ชลบุรี                              99.0          ไร่หลักทอง
ภูเก็ต                              99.0              ไม้ขาว
นครปฐม                              93.0              ไร่ขิง
นนทบุรี                             91.0              ไทรม้า
ปทุมธานี                            90.0        เชียงรากใหญ่
สมุทรปราการ                         84.0      ในคลองบางปลากด
สมุทรสาคร                           82.0              โคกขาม

In [51]:
Eat_night= Eat_province.groupby('province_name_th')[['eating_nighttime_variety','subdistrict_name_th']].max()
Eat_night.sort_values('eating_nighttime_variety',ascending=0) #กลางคืน

                  eating_nighttime_variety subdistrict_name_th
province_name_th
กรุงเทพมหานคร                        100.0              โคกแฝด
ระยอง                                100.0           แม่น้ำคู้
ชลบุรี                                99.0          ไร่หลักทอง
เชียงใหม่                             98.0             ไชยสถาน
ภูเก็ต                                97.0              ไม้ขาว
นนทบุรี                               96.0              ไทรม้า
นครปฐม                                94.0              ไร่ขิง
ปทุมธานี                              89.0        เชียงรากใหญ่
สมุทรสาคร                             85.0              โคกขาม
สมุทรปราการ                           82.0      ในคลองบางปลากด