<a href="https://colab.research.google.com/github/sujiraa/BasicProg_DataViz65/blob/main/ProjectFianl_PrepareData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
unit = pd.read_csv('/content/drive/MyDrive/BPDV65/opendata_project.csv')
unit.head()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...

###ทุกโครงการในกรุงเทพ

In [ ]:
onlyBKK = unit[['project_id','name_en','price_min','propertytype_name_en','province_name_en','district_name_en','subdistrict_name_en','latitude','longitude']]

In [ ]:
table1 = onlyBKK[onlyBKK['province_name_en']=='Bangkok']

In [ ]:
table1

,project_id,name_en,price_min,propertytype_name_en,province_name_en,district_name_en,subdistrict_name_en,latitude,longitude
5,project_15884,H2 Wood,1480000.0,Condo,Bangkok,BANG KHEN,ANUSAWARI,13.865311,100.616706
8,project_6637,Lumpini Place Rama 4-Sathorn,1990000.0,Condo,Bangkok,YAN NAWA,CHONG NONSI,13.718633,100.549865
11,project_16422,Loet Ubon 4,1800000.0,Townhome,Bangkok,LAT PHRAO,LAT PHRAO,13.812904,100.616444
13,60596713423c910014e3e723,The Master @BTS Onnut - Pattanakarn,11000000.0,Commercial,Bangkok,PRAWET,PRAWET,13.716322,100.656150
15,project_8322,Baan Pudsorn 11,10800000.0,Detached House,Bangkok,LAK SI,THUNG SONG HONG,13.862933,100.547009
...,...,...,...,...,...,...,...,...,...
23424,614ab02bc4d52b0013a6fce4,Baan Ampornplace 2 Sukhaphiban 5,0.0,Townhome,Bangkok,SAI MAI,O NGOEN,13.894299,100.652892
23426,project_14944,Perfect residence krungthep-kreetha,10900000.0,Detached House,Bangkok,LAT KRABANG,KHLONG SONG TON NUN,13.759501,100.709386
23429,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,5700000.0,Townhome,Bangkok,LAT PHRAO,LAT PHRAO,13.814468,100.591091
23430,project_12057,@Home Kaset-Nawamin,3590000.0,Townhome,Bangkok,LAT PHRAO,LAT PHRAO,13.834361,100.618894
23431,project_4461,I-Design Wongwaen-Ramintra,1870000.0,Commercial,Bangkok,KHLONG SAM WA,BANG CHAN,13.859872,100.702337

### คะแนนการกินทั้งช่วงกลางวันช่วงกลางคืนในกรุงเทพ

In [ ]:
eat = pd.read_csv('/content/drive/MyDrive/BPDV65/opendata_eating_score.csv')
eat.head()

,row_number,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,eating_daytime,eating_daytime_price,eating_daytime_quality,eating_daytime_variety,eating_nighttime,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety,source,day
0,2,4001,HUAI KHWANG,ห้วยขวาง,4000,HUAI KHWANG,ห้วยขวาง,3781,Bangkok,กรุงเทพมหานคร,66.0,72.0,49.0,92.0,75.0,68.0,54.0,94.0,baania,2022-08-31
1,397,2632,THEP KRASATTRI,เทพกระษัตรี,2630,THALANG,ถลาง,2616,Phuket,ภูเก็ต,35.0,37.0,30.0,45.0,38.0,28.0,28.0,51.0,baania,2022-08-31
2,76,3509,PAK NAM,ปากน้ำ,3499,MUEANG SAMUT PRAKAN,เมืองสมุทรปราการ,3498,Samut Prakan,สมุทรปราการ,70.0,84.0,55.0,79.0,65.0,72.0,57.0,67.0,baania,2022-08-31
3,368,4628,SAMET,เสม็ด,4617,MUEANG CHON BURI,เมืองชลบุรี,4616,Chon Buri,ชลบุรี,68.0,67.0,56.0,97.0,69.0,41.0,54.0,94.0,baania,2022-08-31
4,531,1166,TON PAO,ต้นเปา,1164,SAN KAMPHAENG,สันกำแพง,1005,Chiang Mai,เชียงใหม่,44.0,36.0,47.0,51.0,47.0,22.0,61.0,52.0,baania,2022-08-31

In [ ]:
eatBKK = eat[['province_name_en','eating_daytime_price','eating_daytime_quality','eating_daytime_variety','eating_nighttime_price','eating_nighttime_quality','eating_nighttime_variety']]

In [ ]:
table2 = eatBKK[eatBKK['province_name_en']=='Bangkok']

In [ ]:
table2

,province_name_en,eating_daytime_price,eating_daytime_quality,eating_daytime_variety,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety
0,Bangkok,72.0,49.0,92.0,68.0,54.0,94.0
10,Bangkok,58.0,67.0,96.0,56.0,70.0,96.0
12,Bangkok,82.0,58.0,73.0,74.0,57.0,76.0
19,Bangkok,77.0,44.0,73.0,73.0,45.0,76.0
21,Bangkok,68.0,64.0,70.0,62.0,63.0,76.0
...,...,...,...,...,...,...,...
539,Bangkok,85.0,68.0,63.0,80.0,56.0,64.0
540,Bangkok,70.0,56.0,82.0,61.0,58.0,84.0
542,Bangkok,82.0,45.0,79.0,78.0,41.0,78.0
547,Bangkok,81.0,41.0,72.0,76.0,38.0,71.0
548,Bangkok,66.0,62.0,94.0,61.0,66.0,98.0

###คะแนนการเข้าถึงต่างๆโดยรถยนต์

In [ ]:
live = pd.read_csv('/content/drive/MyDrive/BPDV65/opendata_living_score.csv')
live.head()

,row_number,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,...,access_train,access_total,drive_leisure,drive_public_service,drive_school,drive_shopping,drive_work,drive_total,source,day
0,634,3410,SANO LOI,โสนลอย,3402,BANG BUA THONG,บางบัวทอง,3372,Nonthaburi,นนทบุรี,...,1.0,79.0,100.0,100.0,100.0,100.0,100.0,100.0,baania,2022-09-30
1,619,3976,TALAT NOI,ตลาดน้อย,3973,SAMPHANTHAWONG,สัมพันธวงศ์,3781,Bangkok,กรุงเทพมหานคร,...,100.0,100.0,100.0,87.0,100.0,100.0,100.0,99.0,baania,2022-09-30
2,284,4669,BAN KAO,บ้านเก่า,4663,PHAN THONG,พานทอง,4616,Chon Buri,ชลบุรี,...,0.0,0.0,79.0,91.0,86.0,84.0,93.0,85.0,baania,2022-09-30
3,209,2647,BAN THUM,บ้านทุ่ม,2638,MUEANG KHON KAEN,เมืองขอนแก่น,2637,Khon Kaen,ขอนแก่น,...,0.0,0.0,73.0,65.0,73.0,57.0,47.0,62.0,baania,2022-09-30
4,615,3799,RAM INTHRA,รามอินทรา,3797,KHAN NA YAO,คันนายาว,3781,Bangkok,กรุงเทพมหานคร,...,5.0,39.0,99.0,61.0,99.0,90.0,84.0,89.0,baania,2022-09-30

In [ ]:
liveBKK = live[['province_name_en','drive_leisure','drive_public_service','drive_school','drive_shopping','drive_work','drive_total']]

In [ ]:
table3 = liveBKK[liveBKK['province_name_en']=='Bangkok']

In [ ]:
table3

,province_name_en,drive_leisure,drive_public_service,drive_school,drive_shopping,drive_work,drive_total
1,Bangkok,100.0,87.0,100.0,100.0,100.0,99.0
4,Bangkok,99.0,61.0,99.0,90.0,84.0,89.0
5,Bangkok,100.0,83.0,100.0,97.0,91.0,96.0
9,Bangkok,99.0,55.0,100.0,75.0,57.0,79.0
18,Bangkok,92.0,53.0,98.0,98.0,88.0,91.0
...,...,...,...,...,...,...,...
690,Bangkok,90.0,51.0,96.0,77.0,57.0,77.0
698,Bangkok,100.0,71.0,100.0,99.0,97.0,96.0
699,Bangkok,100.0,62.0,99.0,77.0,65.0,81.0
700,Bangkok,99.0,69.0,100.0,81.0,98.0,87.0
703,Bangkok,90.0,47.0,100.0,73.0,77.0,77.0

###พื้นที่ใช้สอย

In [ ]:
area = pd.read_csv('/content/drive/MyDrive/BPDV65/opendata_unittype.csv')
area.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...

In [ ]:
area.isnull().any()

row_number              False
unittype_id             False
project_id              False
name_th                  True
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
area_total_min_wa        True
area_usable_min          True
price_min                True
count_airconditioner     True
count_elevator           True
count_floor_internal     True
count_parking            True
count_room_bath          True
count_room_bed           True
count_room_dinning       True
count_room_guest         True
count_room_kitchen       True
count_room_living        True
count_room_maid          True
count_room_storage       True
count_room_utility       True
date_created            False
date_updated            False
source                  False
url_unittype             True
dtype: bool

In [ ]:
table4 = areaBKK=area[['project_id','area_usable_min','count_floor_internal','count_room_bed','count_room_bath']]

In [ ]:
table4

,project_id,area_usable_min,count_floor_internal,count_room_bed,count_room_bath
0,project_2446,37.3,NaN,2.0,1.0
1,project_3543,150.0,2.0,3.0,3.0
2,project_143,28.0,NaN,1.0,1.0
3,project_7766,27.0,NaN,0.0,1.0
4,project_3551,182.0,3.0,3.0,3.0
...,...,...,...,...,...
42620,project_16864,157.0,2.0,3.0,3.0
42621,project_5275,223.0,2.0,5.0,5.0
42622,617bdd47f62011001350de07,133.0,2.0,4.0,3.0
42623,project_16389,180.0,1.0,5.0,4.0
42624,project_6762,170.0,2.0,3.0,3.0

#คลีน data

### คลีนตาราง1

In [ ]:
table1.isnull().any()

project_id              False
name_en                 False
price_min                True
propertytype_name_en    False
province_name_en        False
district_name_en        False
subdistrict_name_en     False
latitude                False
longitude               False
dtype: bool

In [ ]:
print(len(table1[table1['price_min'].isnull()])) #we used dropna()
table1clean = table1.dropna(subset=['price_min'])

17

In [ ]:
table1clean.isnull().any()

project_id              False
name_en                 False
price_min               False
propertytype_name_en    False
province_name_en        False
district_name_en        False
subdistrict_name_en     False
latitude                False
longitude               False
dtype: bool

In [ ]:
table1clean

,project_id,name_en,price_min,propertytype_name_en,province_name_en,district_name_en,subdistrict_name_en,latitude,longitude
5,project_15884,H2 Wood,1480000.0,Condo,Bangkok,BANG KHEN,ANUSAWARI,13.865311,100.616706
8,project_6637,Lumpini Place Rama 4-Sathorn,1990000.0,Condo,Bangkok,YAN NAWA,CHONG NONSI,13.718633,100.549865
11,project_16422,Loet Ubon 4,1800000.0,Townhome,Bangkok,LAT PHRAO,LAT PHRAO,13.812904,100.616444
13,60596713423c910014e3e723,The Master @BTS Onnut - Pattanakarn,11000000.0,Commercial,Bangkok,PRAWET,PRAWET,13.716322,100.656150
15,project_8322,Baan Pudsorn 11,10800000.0,Detached House,Bangkok,LAK SI,THUNG SONG HONG,13.862933,100.547009
...,...,...,...,...,...,...,...,...,...
23424,614ab02bc4d52b0013a6fce4,Baan Ampornplace 2 Sukhaphiban 5,0.0,Townhome,Bangkok,SAI MAI,O NGOEN,13.894299,100.652892
23426,project_14944,Perfect residence krungthep-kreetha,10900000.0,Detached House,Bangkok,LAT KRABANG,KHLONG SONG TON NUN,13.759501,100.709386
23429,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,5700000.0,Townhome,Bangkok,LAT PHRAO,LAT PHRAO,13.814468,100.591091
23430,project_12057,@Home Kaset-Nawamin,3590000.0,Townhome,Bangkok,LAT PHRAO,LAT PHRAO,13.834361,100.618894
23431,project_4461,I-Design Wongwaen-Ramintra,1870000.0,Commercial,Bangkok,KHLONG SAM WA,BANG CHAN,13.859872,100.702337

###คลีนตาราง2

In [ ]:
table2.isnull().any()

province_name_en            False
eating_daytime_price        False
eating_daytime_quality      False
eating_daytime_variety      False
eating_nighttime_price      False
eating_nighttime_quality    False
eating_nighttime_variety    False
dtype: bool

In [ ]:
table2clean = table2
table2clean

,province_name_en,eating_daytime_price,eating_daytime_quality,eating_daytime_variety,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety
0,Bangkok,72.0,49.0,92.0,68.0,54.0,94.0
10,Bangkok,58.0,67.0,96.0,56.0,70.0,96.0
12,Bangkok,82.0,58.0,73.0,74.0,57.0,76.0
19,Bangkok,77.0,44.0,73.0,73.0,45.0,76.0
21,Bangkok,68.0,64.0,70.0,62.0,63.0,76.0
...,...,...,...,...,...,...,...
539,Bangkok,85.0,68.0,63.0,80.0,56.0,64.0
540,Bangkok,70.0,56.0,82.0,61.0,58.0,84.0
542,Bangkok,82.0,45.0,79.0,78.0,41.0,78.0
547,Bangkok,81.0,41.0,72.0,76.0,38.0,71.0
548,Bangkok,66.0,62.0,94.0,61.0,66.0,98.0

### คลีนตาราง3

In [ ]:
table3.isnull().any()

province_name_en        False
drive_leisure           False
drive_public_service    False
drive_school            False
drive_shopping          False
drive_work              False
drive_total             False
dtype: bool

In [ ]:
table3clean = table3

### คลีนตาราง4

In [ ]:
table4.isnull().any()

project_id              False
area_usable_min          True
count_floor_internal     True
count_room_bed           True
count_room_bath          True
dtype: bool

In [ ]:
#พื้นที่ใช้สอยอย่างน้อย(เมตร)
#area_usable_min   
area_usable_minclean  = table4[['area_usable_min']].fillna(1)

In [ ]:
area_usable_minclean.isnull().any()

area_usable_min    False
dtype: bool

In [ ]:
#จำนวนชั้น
#count_floor_internal
count_floor_internalclean=table4[['count_floor_internal']].fillna(1)

In [ ]:
count_floor_internalclean.isnull().any()

count_floor_internal    False
dtype: bool

In [ ]:
#จำนวนห้องนอน
#count_room_bed 
count_room_bedclean = table4[['count_room_bed']].fillna(1)

In [ ]:
count_room_bedclean.isnull().any()

count_room_bed    False
dtype: bool

In [ ]:
#count_room_bath 
#จำนวนห้องน้ำ
count_room_bathclean = table4[['count_room_bath']].fillna(1)

In [ ]:
count_room_bathclean.isnull().any()

count_room_bath    False
dtype: bool

In [ ]:
table4pj = table4[['project_id']]

In [ ]:
table4clean = pd.concat([table4pj,area_usable_minclean,count_floor_internalclean,count_room_bedclean,count_room_bathclean], axis=1)

In [ ]:
table4clean

,project_id,area_usable_min,count_floor_internal,count_room_bed,count_room_bath
0,project_2446,37.3,1.0,2.0,1.0
1,project_3543,150.0,2.0,3.0,3.0
2,project_143,28.0,1.0,1.0,1.0
3,project_7766,27.0,1.0,0.0,1.0
4,project_3551,182.0,3.0,3.0,3.0
...,...,...,...,...,...
42620,project_16864,157.0,2.0,3.0,3.0
42621,project_5275,223.0,2.0,5.0,5.0
42622,617bdd47f62011001350de07,133.0,2.0,4.0,3.0
42623,project_16389,180.0,1.0,5.0,4.0
42624,project_6762,170.0,2.0,3.0,3.0

In [ ]:
table4clean.isnull().any()

project_id              False
area_usable_min         False
count_floor_internal    False
count_room_bed          False
count_room_bath         False
dtype: bool

##เชื่อมตาราง
1,4 project_id
2,3 province_name

In [ ]:
onefour =pd.merge(table1clean,table4clean)

In [ ]:
twothree = pd.merge(table2clean,table3clean)

In [ ]:
onefour.to_csv('project_areauseablenew.csv',index=False)

In [ ]:
twothree.to_csv('eating_livenew.csv',index=False)

In [ ]:
onefour.to_csv('onefour.csv')
!cp onefour.csv "drive/MyDrive/BPDV65/projectfinal"

In [ ]:
twothree.to_csv('twothree.csv')
!cp twothree.csv "drive/MyDrive/BPDV65/projectfinal"

In [ ]:
onefour = pd.read_csv('/content/onefour.csv')
onefour

,Unnamed: 0,project_id,name_en,price_min,propertytype_name_en,province_name_en,district_name_en,subdistrict_name_en,latitude,longitude,area_usable_min,count_floor_internal,count_room_bed,count_room_bath
0,0,project_15884,H2 Wood,1480000.0,Condo,Bangkok,BANG KHEN,ANUSAWARI,13.865311,100.616706,22.0,1.0,1.0,1.0
1,1,project_15884,H2 Wood,1480000.0,Condo,Bangkok,BANG KHEN,ANUSAWARI,13.865311,100.616706,31.0,1.0,2.0,1.0
2,2,project_6637,Lumpini Place Rama 4-Sathorn,1990000.0,Condo,Bangkok,YAN NAWA,CHONG NONSI,13.718633,100.549865,30.0,1.0,0.0,1.0
3,3,project_16422,Loet Ubon 4,1800000.0,Townhome,Bangkok,LAT PHRAO,LAT PHRAO,13.812904,100.616444,96.0,2.0,2.0,2.0
4,4,60596713423c910014e3e723,The Master @BTS Onnut - Pattanakarn,11000000.0,Commercial,Bangkok,PRAWET,PRAWET,13.716322,100.656150,503.0,3.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14180,14180,project_14944,Perfect residence krungthep-kreetha,10900000.0,Detached House,Bangkok,LAT KRABANG,KHLONG SONG TON NUN,13.759501,100.709386,211.0,2.0,4.0,4.0
14181,14181,project_14944,Perfect residence krungthep-kreetha,10900000.0,Detached House,Bangkok,LAT KRABANG,KHLONG SONG TON NUN,13.759501,100.709386,230.0,2.0,4.0,4.0
14182,14182,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,5700000.0,Townhome,Bangkok,LAT PHRAO,LAT PHRAO,13.814468,100.591091,183.0,3.0,3.0,3.0
14183,14183,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,5700000.0,Townhome,Bangkok,LAT PHRAO,LAT PHRAO,13.814468,100.591091,313.0,4.0,3.0,3.0
14184,14184,project_12057,@Home Kaset-Nawamin,3590000.0,Townhome,Bangkok,LAT PHRAO,LAT PHRAO,13.834361,100.618894,100.0,2.0,2.0,2.0

In [ ]:
twothree = pd.read_csv('/content/twothree.csv')
twothree

,Unnamed: 0,province_name_en,eating_daytime_price,eating_daytime_quality,eating_daytime_variety,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety,drive_leisure,drive_public_service,drive_school,drive_shopping,drive_work,drive_total
0,0,Bangkok,72.0,49.0,92.0,68.0,54.0,94.0,100.0,87.0,100.0,100.0,100.0,99.0
1,1,Bangkok,72.0,49.0,92.0,68.0,54.0,94.0,99.0,61.0,99.0,90.0,84.0,89.0
2,2,Bangkok,72.0,49.0,92.0,68.0,54.0,94.0,100.0,83.0,100.0,97.0,91.0,96.0
3,3,Bangkok,72.0,49.0,92.0,68.0,54.0,94.0,99.0,55.0,100.0,75.0,57.0,79.0
4,4,Bangkok,72.0,49.0,92.0,68.0,54.0,94.0,92.0,53.0,98.0,98.0,88.0,91.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25916,25916,Bangkok,66.0,62.0,94.0,61.0,66.0,98.0,90.0,51.0,96.0,77.0,57.0,77.0
25917,25917,Bangkok,66.0,62.0,94.0,61.0,66.0,98.0,100.0,71.0,100.0,99.0,97.0,96.0
25918,25918,Bangkok,66.0,62.0,94.0,61.0,66.0,98.0,100.0,62.0,99.0,77.0,65.0,81.0
25919,25919,Bangkok,66.0,62.0,94.0,61.0,66.0,98.0,99.0,69.0,100.0,81.0,98.0,87.0
25920,25920,Bangkok,66.0,62.0,94.0,61.0,66.0,98.0,90.0,47.0,100.0,73.0,77.0,77.0